
body {
    font-family: Arial, sans-serif;
    background-color: #28a745; /* Fundo preto */
    margin: 0; /*o margin serve para */
    color: #070707; /* Texto branco */
}

.contato{
    margin-top: 10%;
    padding: 1%;
   justify-items: center;
}

.campo{

    margin-top: 1%;
    padding: 1%;
   justify-items: center;
   border-bottom: #28a745;
}